.heading{
    text-align: center;
    color: #A91D3A;
}
body{
    background-color: #151515;
}
p{
    color: #EEEEEE;
}
img{
    position: relative;
    left: 400px;
    top: 10px;
}
.Thanks{
    position: relative;
    top:20px;
}
.Button{
    width: 831px;
    position: relative;
    top: 20px;
    left: 680px;
}
button{
    background-color: #ACE1AF;
    color: #FF0080;
    font-weight: bold;
    height: 50px;
}
video{
    position: relative;
    top: 90px;
    left: 240px;
}
/* Styles for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        margin: 10px;
    }
    img{
        width: 250px;
        height: 200px;
        position: relative;
        left: 110px;
    }
    .Button{
        position: relative;
        left: 160px;
    }
    video{
        position: relative;
        width: 200px;
        height: 200px;
        left: 150px;
    }
    .heading{
        text-align: center;
    }
}