.heading{
    text-align: center;
    color: #A91D3A;
}

p{
    color: #EEEEEE;
}
img{
    position: relative;
    left: 400px;
    top: 10px;
}
.Thanks{
    position: relative;
    top:20px;
}
.Button{
    width: 831px;
    position: relative;
    top: 20px;
    left: 680px;
}
button{
    background-color: #ACE1AF;
    color: #FF0080;
    font-weight: bold;
    height: 50px;
}
video{
    position: relative;
    top: 90px;
    left: 240px;
}
/* Styles for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    body{
        display: flex;
    }
    p{
        font-size: 50px;
    }
    h1{
        font-size: 100px;
    }
    .para{
        width: 1600px;
    }
    button{
        position: relative;
        width: 500px;
        height: 300px;
        font-size: 50px;
        right: 300px;
    }
    img{
        left: 300px;
    }
    video{
        width: 1300px;
        left: 10px;
    }
}