.heading{
    text-align: center;
    color: #A91D3A;
}
body{
    background-color: #ffb1b1;
background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

p{
    color: black;
    font-weight: bold;
}
img{
    position: relative;
    left: 619px;
    top: 10px;
}
.Thanks{
    position: relative;
    top:20px;
}
.Button{
    width: 831px;
    position: relative;
    top: 20px;
    left: 680px;
}
button{
    background-color: #ACE1AF;
    color: #FF0080;
    font-weight: bold;
    height: 50px;
}
video{
    position: relative;
    top: 90px;
    left: 240px;
}
/* Styles for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    body{
        display: flex;
    }
    p{
        font-size: 50px;
    }
    h1{
        font-size: 100px;
    }
    .para{
        position: relative;
        width: 1569px;
        left: 20px;
    }
    button{
        position: relative;
        width: 500px;
        height: 300px;
        font-size: 50px;
        right: 200px;
    }
    img{
        height: 100%;
        left: 450px;
        width: 400px;
        height: 700px;
    }
    video{
        height: 1000px;
        width: 1450px;
        left: 9px;
    }
    .Thanks{
        left: 20px;
        right: 20px;
    }
    .heading{
        position: relative;
        right: 60px;
    }
}